* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --offWhite: #FAFDFE;
  --mainWhite: #fff;
  --bgBlue: #029494;
  --hvrOrange:#F7A604;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Jura', sans-serif;
  line-height: 1.4;
}

/* globals End */

/* Navbar */
.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--bgBlue);
  z-index: 1;
}
/* Image 
image {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    overflow: hidden;
}

*/

/* Logo & Hamburger Menu */

.nav-header {
  display: flex;
  justify-content: space-evenly;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.menu-icon {
  font-size: 2.5rem;
  color: var(--offWhite);
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}

.nav-links li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--offWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--hvrOrange);
}

.show-nav {
  height: auto;
}

  /* Header Hero */

.defaultHero {
  width: 100%;
  min-height: calc(50vh - 200px);
  background: url("../images/hero_home.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End of HeaderHero */

@media screen and (min-width: 768px){

   /* Header Hero*/ 

.defaultHero {
  min-height: calc(45vh - 150px);
}
  /* Header Hero */
  .nav-btn {
    display: none;
  }
  .nav-header{
      max-width: 150px;
      margin-right: auto;
      margin-left: 1rem;
  }
  .menu-center {
    margin: 0 auto;
    display: flex;
  }

  .menu-center > ul > li > a{
    font-size: 0.9rem;
    font-weight: bold;
  }
  .nav-links {
    height: auto;
    display: flex;
    
  }
  .nav-links a {
    margin: 0 0.5rem;
    padding: 0.5rem 0;
  }
  /* Banner for larger screens*/
.banner h1 {
  font-size: 3rem;
}
.banner h3 {
  font-size: 3rem;
}

/* End*/
}


@media screen and (min-width: 1025px) {
     /* Header Hero*/ 

.defaultHero {
  min-height: calc(75vh - 200px);
}
  /* Header Hero */
  
  .menu-center {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
  }

  .menu-center > ul > li > a{
    font-size: 1rem;
    font-weight: bold;
  }

  .nav-links a {
    margin: 0 1rem;
  }

  @media screen and (min-width: 1201px) {
  
  .menu-center {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .menu-center > ul > li > a{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links a {
    margin: 0 1.5rem;
  }
}
  
}

/* Navbar End */


/* Banner Text */

.banner h1 {
  font-size: 1.5rem;
}
.banner h3 {
  font-size: 1.4rem;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F7A604;
    padding: 2rem 2rem 2rem;
    color: #fff;
}


/* End of Banner */

/* Buttons*/

.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: var(--mainBlack);
  background: var(--offWhite);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--offWhite);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius:0.3rem;
  margin-top: 1rem;
}
.btn-primary:hover {
  background: transparent;
  color: var(--bgBlue);
}

/* End of Buttons*/

/* Title */

.section-title {
  text-align: center;
  margin-bottom: 1rem;
}
.section-title h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
  color:var(--hvrOrange);
}

/* end of Title */


/* courses */
.courses {
  background: var(--offWhite);
  text-align: center;
  padding: 2rem 0;
}
.courses-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  row-gap: 1rem;
  column-gap: 50px;
}
.course span {
  display: inline-block;
  color: var(--hvrOrange);
  font-size: 6rem;
  
}
.courses h2 {
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.courses p {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
