* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --offWhite: #FAFDFE;
  --mainWhite: #fff;
  --bgBlue: #029494;
  --hvrOrange:#F7A604;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */

body {
  padding-top: 10px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Jura', sans-serif;
  line-height: 1.4;
}

/* globals End */

/* Navbar */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--bgBlue);
  
}

/* Logo & Hamburger Menu */

.nav-header {
  display: flex;
  justify-content: space-evenly;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.menu-icon {
  font-size: 2.5rem;
  color: var(--offWhite);
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}

.nav-links li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--offWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--hvrOrange);
}

.show-nav {
  height: 200px;
}

@media screen and (min-width: 768px){
  .nav-btn {
    display: none;
  }
  .nav-header{
      max-width: 150px;
      margin-right: auto;
      margin-left: 1rem;
  }
  .menu-center {
    margin: 0 auto;
    display: flex;
  }

  .menu-center > ul > li > a{
    font-size: 0.9rem;
    font-weight: bold;
  }
  .nav-links {
    height: auto;
    display: flex;
    
  }
  .nav-links a {
    margin: 0 0.5rem;
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 769px) {
  
  .menu-center {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
  }

  .menu-center > ul > li > a{
    font-size: 1rem;
    font-weight: bold;
  }

  @media screen and (min-width: 1025px) {
  
  .menu-center {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .menu-center > ul > li > a{
    font-size: 1.5rem;
    font-weight: bold;
  }
}
  
}

/* Navbar End */