* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --offWhite: #FAFDFE;
  --mainWhite: #fff;
  --bgBlue: #029494;
  --hvrOrange:#F7A604;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Jura', sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 1.2em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;

}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
  
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}


.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--offWhite);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--offWhite);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  border-radius:0.5rem;
}
.btn-primary:hover {
  background: transparent;
  color: var(--bgBlue);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--bgBlue);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--offWhite);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--offWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--hvrOrange);
}

.show-nav {
  height: 200px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */

/* Hero */
.defaultHero,
.coursesHero,
.aboutHero {
  width:100%;
  height: auto;
  background: url("./images/hero_3.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coursesHero {
  background-image: url("./images/hero_1.JPG");
  height: auto;
}
.aboutHero {
  background-image: url("./images/heroCourse_grp.jpg");
  height: auto;
}
/* End of Hero */

/* Banner */
.banner {
  display: block;
  background:#F7A604;
  color: var(--mainWhite);
  padding: 2rem 1rem 1rem 3rem;
  
  text-align: left;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */


.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
  color:var(--hvrOrange);
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--offWhite);
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--offWhite);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--hvrOrange);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */


















/* Start of Jumbo */
.home-main-section{
  display:flex;
  flex-direction: row;
}
.home-main-section .jumbo-div{
  background:#F7A604;
  display: flex;
  width:auto;
  height: 100%;
  vertical-align: middle;
  align-content: center;

}
.banner h1:first-child{
  padding-top: 20px;
}
.banner h1:second-child{
  font-size: 1.2rem;
}
.home-main-section .img-wrapper{
  display: flex;
  width:50vw;
  min-height: 70vh;
  background-image: url("./images/hero_1.JPG");
  
  background-repeat: no-repeat;

}

